 body {
				font-family: Arial, sans-serif;
				max-width: 800px;
				margin: 0 auto;
				background-color: #52E8DD;
				background-color: #D00DCD;
  				background-image: linear-gradient( white , yellow,pink );
			}
			h1,h2 {
				text-align: center;
				font-style: italic;
				color:  #SEBF50D;
			}
			h2 {
				font-style: normal;
				color:#900C3F;
			}
			.content{
				background-color: #20ECE6;
			}
			